<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PROYECTO CUC</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/listar">Listar <span class="sr-only">(current)</span></a>
        <a class="nav-link active" routerLink="/items/new">Add Item Local<span class="sr-only">(current)</span></a>
        <a class="nav-link active" routerLink="/listar-items">List Item Local<span class="sr-only">(current)</span></a>
     </div>
    </div>
  </nav>